<?php

//LDAP Settings
define('LDAP_HOST','');
define('LDAP_PEOPLE_DN', '');
define('LDAP_GROUP_DN', ''); // Leave blank for no group check
define('LDAP_PORT','389');
define('LDAP_SSL',false);
define('LDAP_TLS',false);
define('LDAP_BIND_USER','');
define('LDAP_BIND_PASS','');
define('LDAP_BASE_DN','');

define("TIMEZONE","");

define('LDAPMAN_API_ENABLED',false);
define('LDAPMAN_API_URL','');
define('LDAPMAN_API_USERNAME','');
define('LDAPMAN_API_PASSWORD','');
define('LDAPMAN_DEVICE_PREFIX', '');
define('LDAPMAN_PI_PREFIX', '');

define('DATASERVER_ENABLED', false);
define('DATASERVER_ROOT_DIR','');

//MySQL settings
define('DB_USER','');
define('DB_PASSWORD','');
define('DB_HOST','localhost');
define('DB_NAME','corebilling');

//Page Settings
define('TITLE', '');

// Authentication timeout
define('SESSION_TIMEOUT', 8*60*60);
define('SESSION_NAME','corebilling');

define('CAL_DEFAULT_COLOR','#3a87ad');
define('CAL_TRAINING_COLOR','#6c3cae');
define('CAL_MISSED_COLOR','#ae3c3c');
define('CAL_ROOM_COLOR','#ad603a');

define('RESERVE_ROOM', false);

//Session Tracker users to ignore
define('USER_EXCEPTIONS_ARRAY',array());

define('ENABLE_LOG',false);
define('PASSWORD_RESET_URL','');
define('NEWS_AGE',120);

/////////Email Settings///////////
define("SMTP_HOST","localhost");
define("SMTP_PORT",25);
define("SMTP_USERNAME","");
define("SMTP_PASSWORD","");
define("FROM","");

